// colours
$primary: #e14;
$secondary: #28e;

// dimensions
$nav-height: 80px;
$site-width: 1140px;

//fonts
$body-font: "Segoe UI", Arial, sans-serif;
$heading-font: $body-font;

$shadow: 0 2px 5px rgba(black, 0.05), 0 5px 25px rgba(black, 0.05);
